<% include ../partials/header %>

<form method='POST' action='/auth/login'>
  <input name='username' type='text' placeholder='username' /><br>
  <input name='password' type='password' placeholder='password' /><br>
  <input type='submit' value='Log in!' /><br>
</form>

<% include ../partials/footer %>
