<% include ../partials/header %>

<div class='post'>
  <h1><%= data.description %></h1>
  <h2><%= data.image %></h2>
  <a href="/post/<%= data.id %>/edit"> Edit this post </a>
  <form method='POST' action="/post/<%= data.id %>?_method=DELETE">
    <input class= delete type="Submit" value="Delete"/>
  </form>
  <a href='/posts'>See all Posts</a>
</div>

<% include ../partials/footer %>

