<% include ../partials/header %>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

<a href='/auth/logout' class="buttonHome"> Log Out</a><br>
<a href='/now' class="buttonHome">Home</a><br>

<a href='/post/new' class="buttonHome">Add Post</a><br>

      <div id='card' class="posts">
    <% for (let posts of data) { %>
      <div> <className="front"> <%= posts.country %></div><br>
      <div> <img id="postView" src=<%= posts.image %> /></div><br>
      </div>


      <a href='/post/<%= posts.id%>' class="view">VIEW</a>





  <% } %>
<% include ../partials/footer %>
