<% include ../partials/header %>

<p> Please upload your image</p><br>
<form method='POST' action='/post'>
  <input class= adding name='description' type='text' placeholder='description' />
  <input class= adding name='image' type='text' placeholder='insert url' />

   <input class= booze type='submit' value='POST' />

</form>

<% include ../partials/footer %>
