<% include ../partials/header %>

<a href= '/post/new'>Add post</a>
<% for (let posts of data) { %>
    <div class= 'post'>
    <p><%= posts.description %></p>
    <img src=<%= posts.image %> />

    <a href='/post/edit/<%= posts.id%>'>Edit Post</a>

    </div>
  <% } %>

<% include ../partials/footer %>
