<% include ../partials/header %>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<p> Please upload your image</p><br>
<form method='POST' action='/post' >
  <input class= adding name='country' type='text' placeholder='country'/><br>
  <input class= adding name='description' type='text' placeholder='description' /><br>
  <input class= adding name='image' type='text' placeholder='insert url' /><br>

  <div class="w3-light-grey">
  <div id="myBar" class="w3-container w3-green" style="height:24px;width:1%"></div>
  </div>

  <p id="myP">Added <span id="demo">0</span> of 1 photo</p>
<button class="w3-button w3-light-grey" onclick="move();this.disabled='true'">POST</button><br>
</div>

</form>

<% include ../partials/footer %>
