<% include ../partials/header %>

<div class='post'>
  <img src=<%= post.image %> /><br>
  <p1><%= post.description %></p1><br>

  <a href='/post/edit/<%= post.id %>'> Edit this post </a><br>

  <form method='POST' action="/post/<%= post.id %>?_method=DELETE"><br>
    <input type="Submit" value="Delete"/><br>
  </form><br>

  <a href='/post'>See all Posts</a><br>
</div>

<% include ../partials/footer %>

