<% include ../partials/header %>

<form method='POST' action='/post'>
  <input class= adding name='description' type='text' placeholder='description' />
  <input class= adding name='image' type='text' placeholder='image' />
<label class adding for='type'>
        <select class= 'adding' name='type_name' type='text'>

          <option value='1'> </option>
          <option value='2'> </option>

        </select>
      </label></br>

   <input class= booze type='submit' value='POST' />

</form>

<% include ../partials/footer %>
