<% include ../partials/header %>

<a href= '/post/new'>Add post</a><br>
<% for (let posts of data) { %>
    <div class= 'post'><br>
    <img src=<%= posts.image %> /><br>

    <a href='/post/<%= posts.id%>'>View</a>

    </div>
  <% } %>

<% include ../partials/footer %>
