<% include ../partials/header %>

<div class='post'>
  <h1><%= post.description %></h1>
  <img src=<%= post.image %> />

  <a href='/post/<%= post.id %>'> Edit this post </a>

  <form method='POST' action="/post/<%= post.id %>?_method=DELETE">
    <input type="Submit" value="Delete"/>
  </form>

  <a href='/post'>See all Posts</a>
</div>

<% include ../partials/footer %>

