<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <title>Dropzone.js Example</title> -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="csrf-token" content="XYZ123">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>

      <header>
        <p>🗺 🛫 <img src="https://fontmeme.com/permalink/171016/5905d38c76a63d368de2489606d63c6f.png" class="travelop" alt="las-locuras-del-emperador-font" border="0"> ✈️ 🏖 </p>
        <!-- <h1>Welcome To TravelOp</h1> -->
      <!-- <a href="https://fontmeme.com/fonts/las-locuras-del-emperador-font/"> -->
      </header>

  <div class="content section" >

  <img class="mySlides w3-animate-bottom" id="barbados" src="http://res.cloudinary.com/gabycodes/image/upload/c_scale,h_1080,w_1920/v1508127112/IMG_2076_gnxxl9.jpg" >

  <img class="mySlides w3-animate-left" id="new" src="http://res.cloudinary.com/gabycodes/image/upload/c_scale,h_1080,w_1920/v1508127121/IMG_5715_iuoyec.jpg">

  <img class="mySlides w3-animate-top" id="bang" src="http://res.cloudinary.com/gabycodes/image/upload/c_scale,h_1080,w_1920/v1508133671/IMG_9593_ownbjy.jpg" >

  <img class="mySlides w3-animate-right" id="china" src="http://res.cloudinary.com/gabycodes/image/upload/v1508127001/IMG_2223_nqvrmg.jpg" >

</div>

<div class="navbar">
  <ul>
   <li><a href="/post" id="post"> POSTS</a></li>
    <li><a href="/auth/login" id="login"> LOGIN</a></li>
    <li><a href="/auth/register" id="register"> REGISTER</a></li>
  </ul>
</div>

<div class="twitter">
<a class="twitter-timeline" href="https://twitter.com/CNTraveler?ref_src=twsrc%5Etfw">Tweets by CNTraveler</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
</div>
      <footer style="margin-top:100px;">
        <p> Designed with ❤️  by Gaby </p>
      </footer>


    <script type="text/javascript" src="/javascript/app.js"></script>
    <script src="https://a2.muscache.com/airbnb/static/libs_jquery_2x-4c61948b1a5fa686ed70f7b9bf4a18c9.js" type="text/javascript"></script>
  </body>
</html>
